.App{
  padding: 1em;
}
.json_card{
  margin-top:1em;
}
.hide{
  display: none;
}
button.disabled{
  cursor: not-allowed;
}
.error{
  color: red!important;
}
.register_form{
  background: #eee;
  padding: 1em;
}
